<div class="hero-full-screen-pattern overlay">
  <div class="top-content-section">
    {{> nav/nav-block user=false register=true}}

    <div class="holy-grail-grid">
      <div class="holy-grail-header">
        <center>
        <button id="upload-tree" data-id="{{userInfo.id}}" class="button success">Upload Your Tree Pic!</button>
        <div id='content' data-id="{{userInfo.id}}"></div>
        </center>
      </div>

  <div class="holy-grail-left">
    <div class="translucent-form-overlay" style="margin: 0 auto;">
      <h4>{{userInfo.firstName}} {{userInfo.lastName}}</h4>
      <img class="thumbnail" src="https://placehold.it/300x250">
      <div class="myinfo" id="profile-info">
        <label for="exampleFileUpload" class="button success hollow" id="profile-button">Upload Your Profile Pic</label>
        <input type="file" id="exampleFileUpload" class="show-for-sr">
        <hr>
        <p>I am an environmental enthusiast and peach tree lover!</p>
        <p>{{userInfo.city}}, {{userInfo.state}}, {{userInfo.country}}</p>
      </div>
    </div>
  </div>

  <div class="holy-grail-middle">
    <div class="translucent-form-overlay" style="margin: 0 auto;">
    <h3>Number of trees you contributed in your lifetime {{treeInfo.length}}</h3>
    <hr>
    <ul> 
      {{#each treeInfo}}
          <img class="imgwidth" src=https://cdn.filestackcontent.com/cache=false/output=secure:true/security=policy:eyJleHBpcnkiOjI1MjQ2MjYwMDAsImNhbGwiOlsicGljayIsInJlYWQiLCJzdGF0Iiwid3JpdGUiLCJ3cml0ZVVybCIsInN0b3JlIiwiY29udmVydCIsInJlbW92ZSIsImV4aWYiLCJydW5Xb3JrZmxvdyJdfQ==,signature:4b764be43ffa32d14c20d96fe343a777d3e241b8dde4bd78d8820dbb696a6eac/{{tree_image_link}}>
      {{/each}}
    </ul>
    </div>
  </div>

  <div class="holy-grail-right">
        <div class="translucent-form-overlay" style="margin: 0 auto;">
          <form>
            <h3>Update Your Account</h3>
            <div class="row columns">
              <div class="input-group">
                <span class="input-group-label">
                  <i class="fa fa-user"></i>
                </span>
                <input type="text" class="form-control input-group-field" id="inputFirst" placeholder="First Name">
              </div>
            </div>
            <div class="row columns">
              <div class="input-group">
                <span class="input-group-label">
                  <i class="fa fa-user"></i>
                </span>
                <input type="text" class="form-control input-group-field" id="inputLast" placeholder="Last Name">
              </div>
            </div>
            <div class="row columns">
              <div class="input-group">
                <span class="input-group-label">
                  <i class="fa fa-building"></i>
                </span>
                <input type="text" class="form-control" id="inputCity" placeholder="City">
              </div>
            </div>
            <div class="row columns">
              <div class="input-group">
                <span class="input-group-label">
                  <i class="fa fa-tree"></i>
                </span>
                <input type="text" class="form-control" id="inputState" placeholder="State">
              </div>
            </div>
            <div class="row columns">
              <div class="input-group">
                <span class="input-group-label">
                  <i class="fa fa-globe"></i>
                </span>
                <input type="text" class="form-control" id="inputCountry" placeholder="Country">
              </div>
            </div>
            <div class="row columns">
              <div class="input-group">
                <span class="input-group-label">
                  <i class="fa fa-envelope"></i>
                </span>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="row columns">
              <div class="input-group">
                <span class="input-group-label">
                  <i class="fa fa-key"></i>
                </span>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>
            </div>
            <button type="button" id="add-user" class="button hollow success expanded search-button">
              Submit
            </button>
          </form>
        </div>
  </div>

  {{!-- <div class="holy-grail-footer">
    <h3>Footer</h3>
  </div> --}}

</div>
{{!-- End of Holy Grail --}}
  
</div>
</div>

